html {
  height: 100%;
  width: 100%;
}
html,
body {
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url(../img/pubg9.jpg);
  font-size: 12px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.background {
  display: flex;
  min-height: 100vh;
  margin-top: 25px;
}

.container {
  flex: 0 1 700px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.screen-header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.screen-header-left {
  margin-right: auto;
}

.screen-header-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.screen-header-button.close {
  background: #ac9a00;
}

.screen-header-button.maximize {
  background: #e8e925;
}

.screen-header-button.minimize {
  background: #74c54f;
}

.screen-header-right {
  display: flex;
}

.screen-header-ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: yellow;
  font-size: 26px;
}

.app-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ac9a00;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: yellow;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #ac9a00;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

.fa,
.fa:hover {
  text-decoration: none;
}

.socialbtns,
.socialbtns ul,
.socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fa {
  width: 40px;
  height: 40px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  padding-top: 12px;
  border-radius: 22px;
}

.socialbtns .fa-facebook:hover {
  background-color: #000;
  border: 1px solid #000;
  color: blue;
}
.socialbtns .fa-facebook {
  background-color: blue;
  border: 1px solid #000;
}

.socialbtns .fa-twitter:hover {
  background-color: #000;
  border: 1px solid #000;
  color: lightblue;
}
.socialbtns .fa-twitter {
  background-color: lightblue;
  border: 1px solid #000;
}
.socialbtns .fa-google-plus:hover {
  background-color: #000;
  border: 1px solid #000;
  color: orangered;
}
.socialbtns .fa-google-plus {
  background-color: orangered;
  border: 1px solid #000;
}
.socialbtns .fa-github:hover {
  background-color: #000;
  border: 1px solid #000;
  color: white;
}

.socialbtns .fa-pinterest:hover {
  background-color: #000;
  border: 1px solid #000;
  color: red;
}
.socialbtns .fa-pinterest {
  background-color: red;
  border: 1px solid #000;
}
.socialbtns .fa-linkedin:hover {
  background-color: #000;
  border: 1px solid #000;
  color: darkblue;
}
.socialbtns .fa-linkedin {
  background-color: darkblue;
  border: 1px solid #000;
}
.socialbtns .fa-youtube:hover {
  background-color: #000;
  border: 1px solid #000;
  color: red;
}
.socialbtns .fa-youtube {
  background-color: red;
  border: 1px solid #000;
}
.socialbtns .fa-instagram:hover {
  background-color: #000;
  border: 1px solid #000;
  color: orangered;
}
.socialbtns .fa-instagram {
  background-color: orangered;
  border: 1px solid #000;
}
